apiVersion: v1
kind: Service
metadata:
  name: search-svc
  labels:
    app: search-svc
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: search-svc
