apiVersion: v1
kind: Service
metadata:
  name: overflow-webapp
  labels:
    app: overflow-webapp
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: overflow-webapp

